<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="classes" thread-count="1" name="Suite">

    <test name="Chrome Tests">
    <!--//// Browser type ////-->
        <parameter name="browser" value="headless"/>
    <!--//// URL to test ////-->
<!--        <parameter name="appURL" value="https://vshred.com/login?ref=home" />-->
        <parameter name="appURL" value="https://sculptnation.com/?qa_test=VSQAT&amp;utm_source=testing&amp;utm_content=testing&amp;utm_medium=testing"/>
    <!--//// Individual tests to run ////-->
        <classes>
<!--            <class name="web.tests.vshred.VSLoginTest"/>-->
<!--            <class name="web.tests.sculptnation.loginTests.SNLogInOutTest"/>-->
            <class name="web.tests.sculptnation.contactTests.ContactTests"/>
        </classes>
    <!--//// Suite of tests to run ////-->
<!--        <packages>-->
<!--            <package name="web.tests.vshred"/>-->
<!--            <package name="web.tests.sculptnation"/>-->
<!--        </packages>-->
    </test>

<!--    <test name="Firefox Tests">-->
<!--    &lt;!&ndash;//// Browser type ////&ndash;&gt;-->
<!--        <parameter name="browser" value="firefox"/>-->
<!--    &lt;!&ndash;//// URL to test ////&ndash;&gt;-->
<!--        <parameter name="appURL" value="https://vshred.com/login?ref=home" />-->
<!--        <parameter name="appURL" value="https://sculptnation.com/" />-->
<!--    &lt;!&ndash;//// Individual tests to run ////&ndash;&gt;-->
<!--        <classes>-->
<!--            <class name="web.tests.vshred.VSLoginTest"/>-->
<!--        </classes>-->
<!--    &lt;!&ndash;//// Suite of tests to run ////&ndash;&gt;-->
<!--        <packages>-->
<!--            <package name="web.tests.vshred"/>-->
<!--            <package name="web.tests.sculptnation"/>-->
<!--        </packages>-->
<!--    </test>-->

</suite>