<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="classes" thread-count="1" name="Suite">

    <test name="Testing-2 Chrome Tests">
        <!--//// Browser type ////-->
        <parameter name="browser" value="chrome"/>
        <!--//// URL to test ////-->
<!--        <parameter name="appURL" value="https://testing-2.vshred.com/login?ref=home" />-->
        <parameter name="appURL" value="https://sculptnation.com/?qa_test=VSQAT&amp;utm_source=testing&amp;utm_content=testing&amp;utm_medium=testing" />
        <!--//// Individual tests to run ////-->
        <classes>
            <class name="web.tests.sculptnation.homePageTests.PurchaseTests.SupplementPurchaseEnzymesSubscriptionTest"/>
        </classes>
        <!--//// Suite of tests to run ////-->
        <!--        <packages>-->
        <!--            <package name="web.tests.vshred"/>-->
        <!--            <package name="web.tests.sculptnation"/>-->
        <!--        </packages>-->
    </test>

    <test name="Testing-2 Custom Diet Special Offer Chrome Test">
        <!--//// Browser type ////-->
        <parameter name="browser" value="headless"/>
        <!--//// URL to test ////-->
        <parameter name="appURL" value="https://testing-2.vshred.com/order-form/custom-diet-plan-special" />
        <!--//// Individual tests to run ////-->
        <classes>
            <class name="web.tests.vshred.VSCustomDietTest"/>
        </classes>
        <!--//// Suite of tests to run ////-->
        <!--        <packages>-->
        <!--            <package name="web.tests.vshred"/>-->
        <!--            <package name="web.tests.sculptnation"/>-->
        <!--        </packages>-->
    </test>

    <test name="Testing-2 Custom Diet Monthly Offer Chrome Test">
        <!--//// Browser type ////-->
        <parameter name="browser" value="headless"/>
        <!--//// URL to test ////-->
        <parameter name="appURL" value="https://testing-2.vshred.com/order-form/custom-diet-plan-monthly" />
        <!--//// Individual tests to run ////-->
        <classes>
            <class name="web.tests.vshred.VSCustomDietMonthlyTest"/>
        </classes>
        <!--//// Suite of tests to run ////-->
        <!--        <packages>-->
        <!--            <package name="web.tests.vshred"/>-->
        <!--            <package name="web.tests.sculptnation"/>-->
        <!--        </packages>-->
    </test>

    <test name="Testing-2 5K Platinum Coaching Chrome Test">
        <!--//// Browser type ////-->
        <parameter name="browser" value="headless"/>
        <!--//// URL to test ////-->
        <parameter name="appURL" value="https://testing-2.vshred.com/order-form/platinum-coaching-program-4-5k-6" />
        <!--//// Individual tests to run ////-->
        <classes>
            <class name="web.tests.vshred.VSPlatinumCoaching5KTest"/>
        </classes>
        <!--//// Suite of tests to run ////-->
        <!--        <packages>-->
        <!--            <package name="web.tests.vshred"/>-->
        <!--            <package name="web.tests.sculptnation"/>-->
        <!--        </packages>-->
    </test>

    <test name="Testing-2 12-week Platinum Coaching Chrome Test">
        <!--//// Browser type ////-->
        <parameter name="browser" value="headless"/>
        <!--//// URL to test ////-->
        <parameter name="appURL" value="https://testing-2.vshred.com/order-form/platinum-coaching-program" />
        <!--//// Individual tests to run ////-->
        <classes>
            <class name="web.tests.vshred.VSPlatinumCoachingTest"/>
        </classes>
        <!--//// Suite of tests to run ////-->
        <!--        <packages>-->
        <!--            <package name="web.tests.vshred"/>-->
        <!--            <package name="web.tests.sculptnation"/>-->
        <!--        </packages>-->
    </test>

    <test name="Testing-2 Gold Coaching OTP Chrome Test">
        <!--//// Browser type ////-->
        <parameter name="browser" value="headless"/>
        <!--//// URL to test ////-->
        <parameter name="appURL" value="https://testing-2.vshred.com/order-form/gold-coaching-program-otp" />
        <!--//// Individual tests to run ////-->
        <classes>
            <class name="web.tests.vshred.VSGoldCoachingOTPTest"/>
        </classes>
        <!--//// Suite of tests to run ////-->
        <!--        <packages>-->
        <!--            <package name="web.tests.vshred"/>-->
        <!--            <package name="web.tests.sculptnation"/>-->
        <!--        </packages>-->
    </test>

    <test name="Testing-2 Gold Coaching MPP Chrome Test">
        <!--//// Browser type ////-->
        <parameter name="browser" value="headless"/>
        <!--//// URL to test ////-->
        <parameter name="appURL" value="https://testing-2.vshred.com/order-form/gold-coaching-program-mpp" />
        <!--//// Individual tests to run ////-->
        <classes>
            <class name="web.tests.vshred.VSGoldCoachingMPPTest"/>
        </classes>
        <!--//// Suite of tests to run ////-->
        <!--        <packages>-->
        <!--            <package name="web.tests.vshred"/>-->
        <!--            <package name="web.tests.sculptnation"/>-->
        <!--        </packages>-->

    </test>

    <test name="Testing-2 Gold Coaching Monthly Chrome Test">
        <!--//// Browser type ////-->
        <parameter name="browser" value="headless"/>
        <!--//// URL to test ////-->
        <parameter name="appURL" value="https://testing-2.vshred.com/order-form/gold-training-package-monthly" />
        <!--//// Individual tests to run ////-->
        <classes>
            <class name="web.tests.vshred.VSGoldCoachingMonthlyTest"/>
        </classes>
        <!--//// Suite of tests to run ////-->
        <!--        <packages>-->
        <!--            <package name="web.tests.vshred"/>-->
        <!--            <package name="web.tests.sculptnation"/>-->
        <!--        </packages>-->
    </test>

    <test name="Testing-2 Diet 4-week Training Plan Chrome Test">
        <!--//// Browser type ////-->
        <parameter name="browser" value="headless"/>
        <!--//// URL to test ////-->
        <parameter name="appURL" value="https://testing-2.vshred.com/order-form/diet-training-plan-4-week-soc" />
        <!--//// Individual tests to run ////-->
        <classes>
            <class name="web.tests.vshred.VSDietFourWeekTest"/>
        </classes>
        <!--//// Suite of tests to run ////-->
        <!--        <packages>-->
        <!--            <package name="web.tests.vshred"/>-->
        <!--            <package name="web.tests.sculptnation"/>-->
        <!--        </packages>-->
    </test>

    <test name="Testing-2 Diet 8-week Training Plan Chrome Test">
        <!--//// Browser type ////-->
        <parameter name="browser" value="headless"/>
        <!--//// URL to test ////-->
        <parameter name="appURL" value="https://testing-2.vshred.com/order-form/diet-training-plan-8-week-soc" />
        <!--//// Individual tests to run ////-->
        <classes>
            <class name="web.tests.vshred.VSDietEightWeekTest"/>
        </classes>
        <!--//// Suite of tests to run ////-->
        <!--        <packages>-->
        <!--            <package name="web.tests.vshred"/>-->
        <!--            <package name="web.tests.sculptnation"/>-->
        <!--        </packages>-->
    </test>
</suite>